<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Your Trip</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.0.0/mustache.js"></script>
  </head>
  <body>
    <!--   TRIP INFO PART -->
    <div class="notPrint">
      <div class="row">
        <div class="col-md-4">
          <h3> YOUR TRIP INFORMATION </h3>
          <!--  <form action="/api/default_trips" method="post"> -->
          <!--   <%=@trip.id %> -->
          <h4 style="display:inline">Destination : </h4>
          <h5  id="query" style="display:inline"><%=@trip.destination%></h5>
          <br>
          <h4 style="display:inline">Start Date : </h4>
          <h5 style="display:inline"><%=@trip.start_date %></h5>
          <br>
          <h4 style="display:inline">End Date : </h4>
          <h5 style="display:inline"><%=@trip.end_date %></h5>
          <br><br>
          <button id="weather" class="btn btn-weather location">CHECK WEATHER</button><br />
        </div>
        <div class="col-md-4">
          <!-- <div id="results"> -->
          <img src="http://holyoke.schoolfusion.us/modules/groups/homepagefiles/cms/412428/Image/Weather.gif" width="300px"  height="200px">
          <!-- </div> -->
        </div>
        <div class="col-md-4" id = "results">
          <h3 style="float:left"> CURRENT WEATHER: &nbsp; </h3>
          <div id="icon" style="float:left"></div>
          <br> 
          <div style="clear:both"> </div>
        </div>
      </div>
      <hr />
      <!--   END OF TRIP INFO -->
      <!--  TO PACK PART -->
      <div class="jumbotron text-center">
        <h2 class ="text-center">CREATE A PACKING LIST FOR THE TRIP</h2>
        <p>You can choose items from the suggested list or add your own items below!</p>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      </div>
      <div class = "text-center notPrint">
        <input type="text" id = "wide" class="form-control add-toPack" placeholder="Add your own item to the list">
        <hr>
        <br>
        <img id="checkAll" class = "notPrint" src="http://activerain.trulia.com/image_store/uploads/7/5/4/1/2/ar12675014621457.gif" height="100px" width="100px"> <span id ="markall">Click to mark all as PACKED!</span>
        <br>
        <hr>
        <br>
      </div>
    </div>
    <div class="row" id="printable">
      <div class="col-md-6">
        <div class="toPacklist not-packed">
          <div class = "notPrint">
            <div class="text-center">
              <button type="submit", class="btn btn-edit location">SAVE THIS LIST TO YOUR TRIP</button>
            </div>
          </div>
          <h3 class = "text-center">ITEMS TO PACK</h3>
          <hr>
          <div class = "text-center">
          <button class="btn btn-info btn-xs" id="toggleIt"><span class="glyphicon glyphicon-arrow-down"></span>ALL</button>
          <button class="btn btn-info btn-xs" class="toggleIt"><span class="glyphicon glyphicon-arrow-down"></span>TOILETRIES</button>
          <button class="btn btn-info btn-xs" class="toggleIt"><span class="glyphicon glyphicon-arrow-down"></span>CLOTHES</button>
          <button class="btn btn-info btn-xs" class="toggleIt"><span class="glyphicon glyphicon-arrow-down"></span>PAPERWORK</button>
          <button class="btn btn-info btn-xs" class="toggleIt"><span class="glyphicon glyphicon-arrow-down"></span>ELECTRONICS</button>
          <button class="btn btn-info btn-xs" class="toggleIt"><span class="glyphicon glyphicon-arrow-down"></span>CARRY-ON</button>
    <!--       <button class="btn btn-info btn-xs" id="toggleIt"><span class="glyphicon glyphicon-arrow-down"></span>MISC</button> -->
    </div>
          <script class="item-template" type="text/template">
            <div id = "toggled" style="display: none">
            
            
                        {{#default_items}}
            
                        <ul id="sortable" class="list-unstyled">
                            <li class="ui-state-default">
                            <div class="checkbox">
                         <label>
                         <input type="checkbox" name="item[]" value="" id="item">
                         {{item}} 
                         </label>
                        <button class="remove-item btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="check-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                            </li>
                            {{/default_items}}
                        </ul>
                        </div>
                      
          </script>
          <div id="checkbox"> </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="toPacklist">
          <div class = "text-center">
            <form>
              <input type="button" id="notPrint" class="btn btn-edit location" value="PRINT YOUR PACKING LIST" onClick="window.print()">
            </form>
          </div>
          <h3 class = "text-center">PACKED ITEMS</h3>
          <hr />
          <ul id="done-items" class="list-unstyled">
            <li> This packing List
              <button class="remove-item btn btn-default btn-xs pull-right">
              <span class="glyphicon glyphicon-remove"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div class="todo-footer">
      <strong><span class="count-todos"></span></strong> Items left to pack
    </div>
    <br>
    <hr>
    <!-- </form>  -->
    <!--   END OF TO PACK -->
  </body>
</html>